<!-- ======= Sidebar-nav ======= -->
<ul class="sidebar-nav p-0 m-0 list-unstyled" id="sidebar-nav">
    <!-- <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#home-nav" data-bs-toggle="collapse" href="#">
            <i class="bi bi-house"></i><span>Solutions</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="home-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
            <li>
                <a href="{% url 'individual_solutions' %}">
                    <i class="bi bi-circle"></i><span>Individual Solutions</span>
                </a>
            </li>
            <li>
                <a href="https://retail.minet.co.ke/biznasure/" target="_blank">
                    <i class="bi bi-circle"></i><span>Business / SME solutions</span>
                </a>
            </li>
            <li>
                <a href="{% url 'corporate_product' %}">
                    <i class="bi bi-circle"></i><span>Corporate Product</span>
                </a>
            </li>
            <li>
                <a href="https://collaborationkenya.minet.com/MinetKe/tsc/" target="_blank">
                    <i class="bi bi-circle"></i><span>Teachers' Medical Scheme</span>
                </a>
            </li>
        </ul>
    </li> -->

    <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'home' %}">
            <i class="bi bi-house"></i>
            <span>Home</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link collapsed" href="#">
            <i class="bi bi-cart4"></i>
            <span>Cart</span>
        </a>
    </li>

    <li class="nav-heading text-uppercase fw-bold">Pages</li>

    <li class="nav-item">
        <a class="nav-link collapsed" href="#">
            <i class="bi bi-question-circle"></i>
            <span>F.A.Q</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'contact' %}">
            <i class="bi bi-envelope"></i>
            <span>Contact</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'register' %}">
            <i class="bi bi-card-list"></i>
            <span>Register</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'login' %}">
            <i class="bi bi-box-arrow-in-right"></i>
            <span>Login</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link collapsed" href="#">
            <i class="bi bi-shield-lock"></i>
            <span>Privacy Policy</span>
        </a>
    </li>

</ul>

 <!-- ======= Social links ======= -->
 <div class="social-links mt-auto pb-4 pt-3 d-flex justify-content-center align-items-center">
    <a href="https://twitter.com/Minet_Kenya/" target="_blank"
        class="d-inline-flex justify-content-center align-items-center"><i class="bi bi-twitter-x"></i></a>
    <a href="https://www.facebook.com/MinetKenya/" target="_blank"
        class="d-inline-flex justify-content-center align-items-center"><i class="bi bi-facebook"></i></a>
    <a href="https://www.instagram.com/minet_ke/" target="_blank"
        class="d-inline-flex justify-content-center align-items-center"><i class="bi bi-instagram"></i></a>
    <a href="https://wa.me/254719044000" target="_blank"
        class="d-inline-flex justify-content-center align-items-center"><i class="bi bi-whatsapp"></i></a>
    <a href="https://www.linkedin.com/company/minet-kenya-insurance-brokers-limited" target="_blank"
        class="d-inline-flex justify-content-center align-items-center"><i class="bi bi-linkedin"></i></a>
</div>