{% load static %}
<div id="learn_more"
     class="toast-container position-fixed bottom-0 end-0 p-3 rounded vw-100 d-flex justify-content-end">
    <div id="learn_more_toast"
         class="toast"
         role="alert"
         aria-live="assertive"
         aria-atomic="true"
         data-bs-autohide="true"
         data-bs-delay="20000">
        <div class="toast-header d-flex justify-content-between align-items-center py-0 pe-2 bg-dark">
            <div class="d-flex align-items-center h-100">
                <img src="{% static 'base/img/endorsement-logo-white.png' %}"
                     class="rounded me-2 img-fluid"
                     width="260px"
                     height=""
                     alt="...">
                <!-- <h3 class="text-uppercase text-secondary fs-6 m-0">Learn More</h3> -->
            </div>
            <button type="button"
                    class="btn p-0"
                    data-bs-dismiss="toast"
                    aria-label="Close">
                <i class="bi bi-x text-white fs-3"></i>
            </button>
        </div>
        <div class="toast-body bg-dark d-flex">
            <a href="https://www.minet.com/kenya/about-minet/"
               target="_blank"
               class="btn btn-outline-secondary text-light me-3 d-block flex-grow-1">
                <h2 class="fs-6 m-0">About Us</h2>
            </a>
            <a href="https://www.minet.com/kenya/privacy/"
               target="_blank"
               class="btn btn-outline-secondary text-light  d-block flex-grow-1">
                <h2 class="fs-6 m-0">Privacy Policy</h2>
            </a>
        </div>
    </div>
</div>
