{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta property="og:title" content="Minet Kenya Retail">
        <meta property="og:url" content="https://retail.minet.co.ke/">
        <meta property="og:locale" content="en_US">
        <meta property="og:site_name" content="Minet Kenya Retail">
        <meta property="og:type" content="website">
        <meta name="keywords"
              content="Minet, insurance, brokers, solutions, individual, SME, corporate, teacher, medical, scheme">
        <meta name="description"
              content="Minet is a leading insurance broker in Kenya that offers solutions for individuals, SMEs, corporates, and teachers. Minet provides medical schemes, life insurance, general insurance, and risk management services.">
        <meta name="theme-color" content="#e32636">
        <!-- Favicons -->
        <link href="{% static 'base/img/favicon.ico' %}" rel="icon" />
        <link href="{% static 'base/img/apple-touch-icon.png' %}"
              rel="apple-touch-icon" />
        <!-- CSS -->
        <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.min.css' %}"
              rel="stylesheet" />
        <link href="{% static 'vendor/bootstrap/bootstrap.custom.min.css' %}"
              rel="stylesheet" />
        <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet" />
        <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}"
              rel="stylesheet">
        <link href="{% static 'vendor/glightbox/glightbox.min.css' %}"
              rel="stylesheet">
        <link href="{% static 'base/css/style.css' %}" rel="stylesheet" />
        <link href="{% static 'home/css/style.css' %}" rel="stylesheet">
        <!-- JS -->
        <script defer src="{% static 'vendor/aos/aos.js' %}"></script>
        <script defer src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
        <script defer src="{% static 'vendor/glightbox/glightbox.min.js' %}"></script>
        <script defer src="{% static 'base/js/script.js' %}"></script>
        <script defer src="{% static 'home/js/script.js' %}"></script>
        <!-- Title -->
        <title>
            Minet Kenya - Welcome
        </title>
    </head>
    <body>
        <!-- ======= Main ======= -->
        <main id="main"
              class="position-fixed top-0 bottom-0 start-0 end-0 d-flex flex-column overflow-y-auto">
            <!-- ======= Header ======= -->
            <header id="header" class="container-fluid py-2" data-aos="slide-right">
                <div class="row topbar px-3">
                    <div class="col d-none d-sm-flex align-items-center">
                        <img src="{% static 'base/img/endorsement-logo-white.png' %}"
                             width=""
                             height=""
                             alt=""
                             class="img-fluid endorse">
                    </div>
                    <form class="col search-form d-flex justify-content-end align-items-center"
                          action="">
                        <div class="input-group">
                            <input type="text" class="form-control h-100" placeholder="Search...">
                            <button type="submit"
                                    class="input-group-text h-100 d-flex justify-content-center align-items-center">
                                <i class="bi bi-search"></i>
                            </button>
                        </div>
                    </form>
                </div>
                <div class="row header-bar mt-2 py-2 px-3">
                    <div class="col">
                        <a href="{% url 'home' %}" class="d-block mt-1">
                            <img src="{% static 'base/img/logo-white_.png' %}"
                                 width=""
                                 height=""
                                 alt=""
                                 class="img-fluid header-bar-logo">
                        </a>
                    </div>
                    <nav class="col navmenu d-flex justify-content-end align-items-center">
                        <ul>
                            <li>
                                <a class="text-decoration-none" href="{% url 'home' %}">Our Solutions</a>
                            </li>
                            <li>
                                <a class="text-decoration-none" href="https://retail.minet.co.ke/Cart.php">Cart</a>
                            </li>
                            <li>
                                <a class="text-decoration-none" href="{% url 'privacy_policy' %}">Privacy Policy</a>
                            </li>
                            <li>
                                <a class="text-decoration-none pe-0" href="{% url 'contact' %}">Contact Us</a>
                            </li>
                        </ul>
                        <i class="mobile-nav-toggle bi bi-list ms-4 d-xl-none"></i>
                    </nav>
                </div>
            </header>
            <!-- ======= Content ======= -->
            <section id="home-content" class="flex-grow-1 row ps-5">
                <div class="col col-md-4 d-flex flex-column justify-content-evenly">
                    <h1>
                        <span>Welcome to<br>Minet</span> Insurance<br>Brokers Solutions
                    </h1>
                    <div>
                        <p>
                            Minet is a trusted pan-African advisor that meets the uncertainties of tomorrow by delivering risk and human capital solutions today.
                        </p>
                        <a class="btn btn-dark" href="{% url 'login' %}">Login</a>
                        <a class="btn btn-dark" href="{% url 'home' %}">Get Started</a>
                    </div>
                </div>
                <div class="col col-md-8 d-flex align-items-center">
                    <div class="swiper w-100 h-100">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide slide-1"></div>
                            <div class="swiper-slide slide-2"></div>
                            <div class="swiper-slide slide-3"></div>
                            <div class="swiper-slide slide-4"></div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </section>
            <div class="ps-md-5 pb-4 pt-2 d-flex justify-content-center justify-content-md-start">
                <div class="social-links d-flex align-items-center position-relative">
                    <a href="https://twitter.com/Minet_Kenya/"
                       class="d-inline-flex justify-content-center align-items-center"><i class="bi bi-twitter-x"></i></a>
                    <a href="https://www.facebook.com/MinetKenya/"
                       class="d-inline-flex justify-content-center align-items-center"><i class="bi bi-facebook"></i></a>
                    <a href="https://www.instagram.com/minet_ke/"
                       class="d-inline-flex justify-content-center align-items-center"><i class="bi bi-instagram"></i></a>
                    <a href="https://wa.me/254719044000"
                       class="d-inline-flex justify-content-center align-items-center"><i class="bi bi-whatsapp"></i></a>
                    <a href="https://www.linkedin.com/company/minet-kenya-insurance-brokers-limited"
                       class="d-inline-flex justify-content-center align-items-center"><i class="bi bi-linkedin"></i></a>
                </div>
            </div>
        </main>
        <!-- Scroll Top Button -->
        {% include 'base/includes/back_to_top.html' %}
        <!-- Preloader -->
        {% include 'base/includes/preloader.html' %}
    </body>
</html>

