# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.



































































# backend
# other branches
/web
/mobile

# dependencies
/backend/.venv
/backend/.env*
/backend/media/*
!/backend/media/defaults
/backend/static

# non-dependencies
__pycache__
/assets
/~
/.vscode
