# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
*env
static
!base/static
!retail/static
!home/static
media


# non-dependencies

# misc
/~
/assets
/.vscode
__pycache__

# other branches
/backend
/web
/mobile
