# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# misc
/~
/assets
/.vscode
__pycache__

# dependencies
/web/node_modules
/web/.env*
/web/.DS_Store

/api/.venv
/api/.env*
/api/media/*
!/api/media/defaults
/api/static


# non-dependencies
/web/build
/web/coverage

