.helper-text p {
    text-align: left;
}

.error-text {
    background-color: #fff3f3b0;
    padding: 8px;
    border-radius: 11px;
    font-weight: 800;
    font-size: large;
    color: rgb(237, 47, 47);
}

.buyButton {
    background-color: #E3261E !important;
    color: white !important;
    padding: 5px 28px !important;
}

.left-part h6 {
    color: #E3261E;
}

.policy-checkout {
    margin: 18px auto;

}

.policy-information {
    display: grid;
    margin: 18px auto;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 10px;
}

.policy-information p {
    max-width: 288px;
    overflow: hidden;
}

@media (min-width: 600px) {
    .policy-information {
        grid-template-columns: repeat(3, 1fr);
    }
}

.payment-modal h5 {
    text-align: left !important;
    color: #E3261E;
}

.payment-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 11px auto;
}

.cancel-payment,
.initiate-payment {
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 8px 18px;
    border: none;
    border-radius: 3px;
}

.cancel-payment {
    background-color: #d8d8d89d;
    color: #1D4954;
    font-weight: 800;
}

.initiate-payment {

    color: white;
    background-color: #34BD8F;

}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.spinner-payment {
    width: 23px;
    color: white;
    animation: spin 2s linear infinite;
}