#loginform,
#signupform {
    font-size: 14px;
}

.form-floating label {
    margin-left: .25rem
}

.form-floating input {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    border-radius: 0;
}

.form-floating input:focus {
    border-color: var(--bs-primary);
}

.recaptcha {
    color: var(--color-inverse);
}

.recaptcha .form-check-input {
    transform: scale(1.5);
}

.recaptcha .form-check-input:focus {
    box-shadow: none;
    border-color: var(--bs-primary);
}

.recaptcha .form-check-input:checked {
    background-color: rgba(var(--bs-primary-rgb), 0.8);
    border-color: var(--bs-primary);
}

.recaptcha img {
    max-width: 30px;
}

button[type=submit] {
    transition: 0.4s;
}