.authform {
    font-size: 14px;
}

.authform .form-floating label {
    margin-left: .25rem
}

.authform .form-floating input {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    border-radius: 0;
}

.authform .form-floating input:focus {
    border-color: var(--bs-primary);
}

.authform .form-check-input {
    transform: scale(1.5);
}

.authform .form-check-input:focus {
    box-shadow: none;
    border-color: var(--bs-primary);
}

.authform .form-check-input:checked {
    background-color: rgba(var(--bs-primary-rgb), 0.9);
    border-color: var(--bs-primary);
}

.authform .recaptcha {
    color: var(--color-inverse);
}

.authform .recaptcha img {
    max-width: 30px;
}

.authform button[type=submit] {
    transition: 0.4s;
}