

/*--------------------------------------------------------------
  # Page Title
  --------------------------------------------------------------*/
.pagetitle {
    margin-bottom: 10px;
}

.pagetitle h1 {
    font-size: 24px;
    margin-bottom: 0;
    font-weight: 600;
    color: var(--bs-dark);
}





/*--------------------------------------------------------------
# Retail
--------------------------------------------------------------*/
.retail-wrapper {
    height: calc(100vh - var(--header-height));
    margin-top: calc(var(--header-height));
    background: url("../../assets/images/retail-bg.png") center top no-repeat fixed;
    background-size: cover;
    padding: 20px 30px;
    transition: all 0.3s;
}

#retail {
    height: calc(100vh - var(--header-height) - var(--header-height));
}

@media (max-width: 1199px) {
    #retail {
        padding: 20px;
    }
}
#retail::before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(var(--bs-dark-rgb), 0.4);
}

/*--------------------------------------------------------------
# Retail
--------------------------------------------------------------*/
@media (max-width: 600px) {

    #retail-content {
        font-size: var(--font-size-sm);
    }
}

@media (max-width: 400px) {

    #retail-content {
        font-size: var(--font-size-xs);
    }
}

/*--------------------------------------------------------------
# Retail General
--------------------------------------------------------------*/
.solutions-img {
    background: rgba(255, 255, 255);
    border: 4px solid rgba(var(--bs-white-rgb), 0.2);
    transition: 0.5s;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-in-out;
}

.solutions-img h2 {
    font-size: var(--font-size-md);
    color: var(--bs-primary);
}

.solutions-img:hover {
    transform: scale(1.03);
    background: rgba(var(--bs-dark-rgb), 0.8);
}

.solutions-img:hover h2 {
    color: var(--bs-white);
}

.solutions-img img {
    max-height: 100px;
}

#individual_solutions .solutions-img img {
    max-height: 50px;
}

#individual_solutions .solutions-img h2 {
    font-size: 14px;
}

.back-btn a {
    transition: all 0.3s ease-in-out;
    border: none;
}

.back-btn a:hover {
    background: rgba(var(--bs-dark-rgb), 0.9);

}