#boda-validation {
    background-image: linear-gradient(to bottom, rgba(20, 20, 20, 0.5), rgba(20, 20, 20, 0.5)), url('../../assets/images/boda/moto-boda.png');
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    /* max-width: 768px; */
    color: white;
    padding: 81px 8px;
}