{% load static %}
<!DOCTYPE html>
<html lang="en" ltr="dir">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="Minet Kenya Retail">
    <meta property="og:url" content="https://retail.minet.co.ke/">
    <meta property="og:locale" content="en_US">
    <meta property="og:site_name" content="Minet Kenya Retail">
    <meta property="og:type" content="website">

    <title>Minet Ecommerce</title>
    <meta name="theme-color" content="#e32636">
    <meta name="description" content="Minet's insurance solutions for individuals, SMEs, corporates, and teachers.">
    <meta name="keywords"
        content="Minet, insurance, brokers, solutions, individual, SME, corporate, teacher, medical, scheme">

    <!-- Manifest -->
    <link rel="manifest" href="{% static 'base/manifest.webmanifest' %}">

    <!-- Icons -->
    <link rel="shortcut icon" href="{% static 'base/img/favicon.ico' %}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{% static 'base/img/apple-touch-icon.png' %}">

    <!-- CSS Files -->
    <link rel="stylesheet" href="{% static 'base/vendor/aos/aos.css' %}">
    <link rel="stylesheet" href="{% static 'base/vendor/bootstrap-icons/bootstrap-icons.min.css' %}">
    <link rel="stylesheet" href="{% static 'base/vendor/bootstrap/bootstrap.custom.min.css' %}">
    <link rel="stylesheet" href="{% static 'base/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'ecommerce/css/style.css' %}">

    <!-- JS Files -->
    <script defer src="{% static 'base/vendor/aos/aos.js' %}"></script>
    <script defer src="{% static 'base/vendor/bootstrap/bootstrap.bundle.min.js' %}"></script>
    <script defer src="{% static 'base/js/script.js' %}"></script>
    <script defer src="{% static 'ecommerce/js/script.js' %}"></script>

</head>

<body id="corporate_product" class="position-fixed top-0 start-0 end-0 bottom-0">
    {% include 'ecommerce/includes/header.html' %}
    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar d-flex flex-column z-2">

        <!-- ======= page-profile =======-->
        <a href="{% url 'landing' %}" class="page-profile pb-1 d-block">
            <div class="text-center">
                <i class="bi bi-house-fill page-profile-logo text-primary"></i>
                <h1 class="d-inline-block fs-4 text-dark">E-Commerce</h1>
            </div>
            <hr />
        </a>

        {% include 'ecommerce/includes/sidebar.html' %}
    </aside>

    <section class="h-100 position-relative d-flex flex-column overflow-y-auto">

        <!-- ======= Main ======= -->
        <main id="main" class="main flex-grow-1 d-flex flex-column">

            <div class="pagetitle z-0">
                <h1 class="text-white">Corporate Product Solutions</h1>
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}">Solutions</a></li>
                        <li class="breadcrumb-item active">Corporate Product</li>
                    </ol>
                </nav>
            </div>

            <section id="retail-content"
                class="flex-grow-1 container-fluid text-center d-flex flex-column justify-content-center mb-3">
                <div class="row g-4 h-100">

                    <div class="col-12 col-md-6 col-xl-3 d-flex justify-content-center align-items-center" >
                        <a class="solutions-img corporate-medical position-relative d-flex flex-column justify-content-center align-items-center rounded shadow"
                            href="https://play.google.com/store/apps/details?id=com.minet.minetretail" target="_blank">
                            <img src="{% static 'ecommerce/img/corporate-product/corporate-1.png' %}" width="" height=""
                                alt="corporate-medical icon" class="img-fluid">
                            <h2 class="mt-2">Corporate Medical Cover</h2>
                        </a>
                    </div>
                    <div class="col-12 col-md-6 col-xl-3 d-flex justify-content-center align-items-center">
                        <a class="solutions-img pension-cover position-relative d-flex flex-column justify-content-center align-items-center rounded shadow"
                            href="https://mss.minet.co.ke/Login?ReturnUrl=%2Fdashboard" target="_blank">
                            <img src="{% static 'ecommerce/img/corporate-product/corporate-2.png' %}" width="" height=""
                                alt="pension-cover icon" class="img-fluid">
                            <h2 class="mt-2">Corporate Pension Cover</h2>
                        </a>
                    </div>
                    <div class="col-12 col-md-6 col-xl-3 d-flex justify-content-center align-items-center">
                        <a class="solutions-img group-life-cover position-relative d-flex flex-column justify-content-center align-items-center rounded shadow"
                            href="https://play.google.com/store/apps/details?id=com.minet.minetretail" target="_blank">
                            <img src="{% static 'ecommerce/img/corporate-product/corporate-3.png' %}" width="" height=""
                                alt="group-life-cover icon" class="img-fluid">
                            <h2 class="mt-2">Group Life Cover</h2>
                        </a>
                    </div>
                    <div class="col-12 col-md-6 col-xl-3 d-flex justify-content-center align-items-center">
                        <a class="solutions-img wellness position-relative d-flex flex-column justify-content-center align-items-center rounded shadow"
                            href="https://wellness.minet.co.ke/" target="_blank">
                            <img src="{% static 'ecommerce/img/corporate-product/corporate-4.png' %}" width="" height=""
                                alt="wellness icon" class="img-fluid">
                            <h2 class="mt-2">Wellness</h2>
                        </a>
                    </div>
                </div>
            </section>

        </main>

        {% include 'ecommerce/includes/footer.html' %}
    </section>

    <!-- Preloader -->
    {% include "base/preloader.html" %}
</body>

</html>