{% load static %}
<!DOCTYPE html>
<html lang="en" ltr="dir">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="Minet Kenya Retail">
    <meta property="og:url" content="https://retail.minet.co.ke/">
    <meta property="og:locale" content="en_US">
    <meta property="og:site_name" content="Minet Kenya Retail">
    <meta property="og:type" content="website">

    <title>Minet Ecommerce</title>
    <meta name="theme-color" content="#e32636">
    <meta name="description" content="Minet's insurance solutions for individuals, SMEs, corporates, and teachers.">
    <meta name="keywords"
        content="Minet, insurance, brokers, solutions, individual, SME, corporate, teacher, medical, scheme">

    <!-- Manifest -->
    <link rel="manifest" href="{% static 'base/manifest.webmanifest' %}">

    <!-- Icons -->
    <link rel="shortcut icon" href="{% static 'base/img/favicon.ico' %}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{% static 'base/img/apple-touch-icon.png' %}">

    <!-- CSS Files -->
    <link rel="stylesheet" href="{% static 'base/vendor/aos/aos.css' %}">
    <link rel="stylesheet" href="{% static 'base/vendor/bootstrap-icons/bootstrap-icons.min.css' %}">
    <link rel="stylesheet" href="{% static 'base/vendor/bootstrap/bootstrap.custom.min.css' %}">
    <link rel="stylesheet" href="{% static 'base/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'ecommerce/css/style.css' %}">

    <!-- JS Files -->
    <script defer src="{% static 'base/vendor/aos/aos.js' %}"></script>
    <script defer src="{% static 'base/vendor/bootstrap/bootstrap.bundle.min.js' %}"></script>
    <script defer src="{% static 'base/js/script.js' %}"></script>
    <script defer src="{% static 'ecommerce/js/script.js' %}"></script>

</head>

<body id="home" class="position-fixed top-0 start-0 end-0 bottom-0">
    {% include 'ecommerce/includes/header.html' %}
    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar d-flex flex-column z-2">

        <!-- ======= page-profile =======-->
        <a href="{% url 'home' %}" class="page-profile pb-1 d-block">
            <div class="text-center">
                <i class="bi bi-house-fill page-profile-logo text-primary"></i>
                <h1 class="d-inline-block fs-4 text-dark text-uppercase">Home</h1>
            </div>
            <hr />
        </a>

        {% include 'ecommerce/includes/sidebar.html' %}
    </aside>

    <section class="h-100 position-relative d-flex flex-column overflow-y-auto">

        <!-- ======= Main ======= -->
        <main id="main" class="main flex-grow-1 d-flex flex-column">

            <div class="pagetitle z-0">
                <h1 class="text-white">Our Solutions</h1>
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active">Solutions</li>
                    </ol>
                </nav>
            </div>

            <section id="retail-content"
                class="flex-grow-1 container-fluid text-center d-flex flex-column justify-content-center mb-3">
                <div class="row g-4 h-100">
                    <div class="col-12 col-md-6 col-xl-3 d-flex justify-content-center align-items-center">
                        <a class="solutions-img individual-solutions position-relative d-flex flex-column justify-content-center align-items-center rounded shadow"
                            href="{% url 'individual_solutions' %}">
                            <img src="{% static 'ecommerce/img/solutions-1-hover.png' %}" width="" height=""
                                alt="individual-solutions icon" class="img-fluid">
                            <h2 class="mt-2">Individual Solutions</h2>
                        </a>
                    </div>

                    <div class="col-12 col-md-6 col-xl-3 d-flex justify-content-center align-items-center">
                        <a class="solutions-img business-solutions position-relative d-flex flex-column justify-content-center align-items-center rounded shadow"
                            href="https://retail.minet.co.ke/biznasure/" target="_blank">
                            <img src="{% static 'ecommerce/img/solutions-2-hover.png' %}" width="" height=""
                                alt="business-solutions icon" class="img-fluid">
                            <h2 class="mt-2">Business Solutions</h2>
                        </a>
                    </div>
                    <div class="col-12 col-md-6 col-xl-3 d-flex justify-content-center align-items-center">
                        <a class="solutions-img corporate-product position-relative d-flex flex-column justify-content-center align-items-center rounded shadow"
                            href="{% url 'corporate_product' %}">
                            <img src="{% static 'ecommerce/img/solutions-3-hover.png' %}" width="" height=""
                                alt="corporate-product icon" class="img-fluid">
                            <h2 class="mt-2">Corporate Product</h2>
                        </a>
                    </div>
                    <div class="col-12 col-md-6 col-xl-3 d-flex justify-content-center align-items-center">
                        <a class="solutions-img teachers-medical-scheme position-relative d-flex flex-column justify-content-center align-items-center rounded shadow"
                            href="https://collaborationkenya.minet.com/MinetKe/tsc" target="_blank">
                            <img src="{% static 'ecommerce/img/solutions-4-hover.png' %}" width="" height=""
                                alt="teachers-medical-scheme icon" class="img-fluid">
                            <h2 class="mt-2">Teacher's Medical Scheme Portal</h2>
                        </a>
                    </div>
                </div>
            </section>

        </main>

        {% include 'ecommerce/includes/footer.html' %}
    </section>

    <!-- Preloader -->
    {% include "base/preloader.html" %}
</body>

</html>