{% extends "base/ecommerce.html" %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'ecommerce/css/style.css' %}">
    <style>
        body {
            background: url("{% static 'ecommerce/img/accounts/login-bg.png' %}") center top no-repeat fixed;
            background-size: cover;
            position: relative;
        }
    </style>
{% endblock style %}
{% block script %}
    <script defer src="{% static 'ecommerce/js/script.js' %}"></script>
{% endblock script %}
{% block page_profile %}
    <a href="{% url 'landing' %}" class="page-profile pb-1 d-block">
        <div class="text-center">
            <i class="bi bi-house-fill page-profile-logo text-primary"></i>
            <h1 class="d-inline-block fs-4 text-dark text-uppercase">Accounts</h1>
        </div>
        <hr />
    </a>
{% endblock page_profile %}
{% block main %}
    <main id="main" class="accounts flex-grow-1 d-flex flex-column">
        <div class="pagetitle z-0">
            <h1 class="text-white">Register</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="breadcrumb-item active">Register</li>
                </ol>
            </nav>
        </div>
        <div class="login-breadcrumbs d-flex justify-content-center align-items-center flex-grow-1 px-5 mx-5">
            <img src="{% static 'ecommerce/img/accounts/ICONS-15.png' %}" width="70px" height="" alt="" class="img-fluid">
            <div class="w-75 dashed"></div>
        </div>
        <section id="retail-content"
            class="flex-grow-1 container-fluid text-center d-flex flex-column justify-content-center mb-3">
            <div class="row g-4 h-100 justify-content-center">
                <div class="col-12 col-sm-10 col-md-8 d-flex flex-column align-items-center justify-content-center">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="pb-2">
                                <h5 class="card-title text-center pb-0 fs-4">Create an Account</h5>
                                <p class="text-center small">Enter your personal details to create account</p>
                            </div>
                            <form class="row g-3 needs-validation" novalidate>
                                <div class="col-12 col-md-6">
                                    <label for="yourName" class="form-label">Your Name</label>
                                    <input type="text" name="name" class="form-control" id="yourName" required>
                                    <div class="invalid-feedback">Please, enter your name!</div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <label for="yourEmail" class="form-label">Your Email</label>
                                    <input type="email" name="email" class="form-control" id="yourEmail" required>
                                    <div class="invalid-feedback">Please enter a valid Email adddress!</div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <label for="yourUsername" class="form-label">Username</label>
                                    <input type="text" name="username" class="form-control" id="yourUsername" required>
                                    <div class="invalid-feedback">Please choose a username.</div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <label for="yourPassword" class="form-label">Password</label>
                                    <input type="password" name="password" class="form-control" id="yourPassword" required>
                                    <div class="invalid-feedback">Please enter your password!</div>
                                </div>
                                <div class="col-12">
                                    <div class="form-check">
                                        <input class="form-check-input" name="terms" type="checkbox" value=""
                                            id="acceptTerms" required>
                                        <label class="form-check-label" for="acceptTerms">
                                            I agree and accept the <a href="#">terms and
                                                conditions</a>
                                        </label>
                                        <div class="invalid-feedback">You must agree before submitting.</div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-primary w-100" type="submit">Create Account</button>
                                </div>
                                <div class="col-12">
                                    <p class="small mb-0">
                                        Already have an account? <a href="{% url 'login' %}">Log in</a>
                                    </p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock main %}