/*--------------------------------------------------------------
# Topbar
--------------------------------------------------------------*/
.topbar {
  transition: all 0.5s;
}

.topbar .endorse {
  max-width: 250px;
}

.topbar .search-form .input-group {
  max-width: 200px;
  height: 30px;
}

.topbar .search-form input {
  font-size: var(--font-size-sm);
}

.topbar .search-form button {
  transition: 0.3s;
}

.topbar .search-form button:hover {
  background-color: rgba(var(--bs-primary-rgb), 0.8);
}

.topbar .search-form button:hover i {
  color: var(--bs-white);
}

/*--------------------------------------------------------------
# NavBar
--------------------------------------------------------------*/
.logo img {
  max-height: 70px;
}

/* Desktop Navigation
------------------------------*/


/* Mobile Navigation
------------------------------*/
.modal-content {
  min-height: 98%;
  font-family: var(--font-secondary);
} 


/*--------------------------------------------------------------
# Home-Content
--------------------------------------------------------------*/
#home-content h1 {
  font-family: var(--font-secondary);
}

#home-content h1 span {
  font-family: var(--font-primary)
}

.social-links a {
  width: 34px;
  height: 34px;
  transition: 0.3s;
}

.social-links a:hover {
  background: var(--bs-dark) !important;
  color: var(--bs-white) !important;
}

.swiper {
  border-top-left-radius: 250px;
  border-bottom-left-radius: 250px;
  z-index: var(--z-4) !important;
}

.swiper .slide-1 {
  background: url("../img/home-slide-1.jpeg");
  background-size: cover;
}

.swiper .slide-2 {
  background: url("../img/home-slide-2.png");
  background-size: cover;
}

.swiper .slide-3 {
  background: url("../img/home-slide-3.png");
  background-size: cover;
}

.swiper .slide-4 {
  background: url("../img/home-slide-4.png");
  background-size: cover;
}

.swiper .swiper-pagination {
  bottom: 30px;
}

.swiper .swiper-pagination .swiper-pagination-bullet {
  margin-right: 20px;
}

.swiper .swiper-pagination-bullet-active {
  background: var(--bs-white);
}

/*--------------------------------------------------------------
# Privacy-Policy-Content
--------------------------------------------------------------*/
/* #privacy-policy {
  background: var(--color-primary);
  color: var(--color-default);
}

#privacy-policy #main {
  margin-left: 0;
  width: 100%;
  position: relative;
  z-index: var(--z-1) !important;
}

#privacy-policy-content .article {
  background-color: var(--color-inverse);
  box-shadow: 0 4px 16px rgba(var(--color-default-rgb), 0.1);
  padding: 30px;
}

#privacy-policy-content .title {
  color: var(--color-secondary);
  font-size: 28px;
  font-weight: 700;
  padding: 0;
}

#privacy-policy-content .content {
  margin-top: 20px;
}

#privacy-policy-content .content h3 {
  font-size: 22px;
  color: var(--color-default);
  margin-top: 30px;
  font-weight: bold;
} */