.social-links a {
    color: var(--bs-primary);
    font-size: var(--font-size-md);
    padding: 8px;
    margin-right: 7px;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    transition: 0.3s;
}

.social-links a:hover {
    color: rgba(var(--bs-white-rgb), 0.7);
    text-decoration: none;
    opacity: 1;
}

.version2 .social-links a {
    color: var(--bs-white);
}

.version2 .social-links a:hover {
    color: rgba(var(--bs-white-rgb), 0.7);
}