@font-face {
  font-family: "preloslab-medium-regular";
  src: url("../font/preloslab-book1.otf");
}

@font-face {
  font-family: "preloslab-medium-bold";
  src: url("../font/preloslab-bold2_1.otf");
}

@font-face {
  font-family: "Titillium-Regular";
  src: url("../font/Titillium-Regular.otf");
}

:root {
  --font-default: "Titillium-Regular", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-primary: "preloslab-medium-bold", sans-serif;
  --font-secondary: "preloslab-medium-regular", sans-serif;
}

/* Font-Sizes */
:root {
  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-md: 16px;
  --font-size-lg: 18px;
  --font-size-xl: 20px;
  --font-size-xxl: 24px;
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 767.98px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  z-index: 9999;
}

/*--------------------------------------------------------------
# Back to Top button
--------------------------------------------------------------*/
#back-to-top {
  right: 15px;
  bottom: 15px;
  width: 40px;
  height: 40px;
  transition: all 0.4s;
}

#back-to-top:hover {
  opacity: 0.8 !important;
}


/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  /* font-family: "Open Sans", sans-serif; */
  font-family: var(--font-default);
  color: #444444;
  }
  
  a {
  color: var(--bs-primary);
  text-decoration: none;
  }
  
  a:hover {
  color: var(--bs-primary);
  opacity: 0.8;
  text-decoration: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
  font-family: var(--font-primary);

  }