/*--------------------------------------------------------------
# Notification Toast
--------------------------------------------------------------*/
.notificationtoast .toast {
    width: 400px;
}

.notificationtoast .toast .toast-body a:hover {
    background: var(--bs-secondary) !important;
    color: var(--bs-dark) !important;
}