:root {
    --footer-height: 70px;
}

.footer {
    padding: 20px 0;
    font-size: 14px;
    height: var(--footer-height);
    transition: all 0.3s;
    /* border-top: 1px solid #cddfff; */
}

.footer .copyright {
    text-align: center;
}

.footer .credits {
    padding-top: 5px;
    text-align: center;
    font-size: 13px;
}

/* .footer .credits a {
    font-size: 14px;
} */