{% load static %}
<!DOCTYPE html>
<html lang="en" ltr="dir">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta property="og:title" content="Minet Kenya Retail">
        <meta property="og:url" content="https://retail.minet.co.ke/">
        <meta property="og:locale" content="en_US">
        <meta property="og:site_name" content="Minet Kenya Retail">
        <meta property="og:type" content="website">
        <title>Minet Ecommerce</title>
        <meta name="theme-color" content="#e32636">
        <meta name="description"
              content="Minet's insurance solutions for individuals, SMEs, corporates, and teachers.">
        <meta name="keywords"
              content="Minet, insurance, brokers, solutions, individual, SME, corporate, teacher, medical, scheme">
        <!-- Manifest -->
        <link rel="manifest" href="{% static 'base/manifest.webmanifest' %}">
        <!-- Icons -->
        <link rel="shortcut icon"
              href="{% static 'base/img/favicon.ico' %}"
              type="image/x-icon">
        <link rel="apple-touch-icon"
              href="{% static 'base/img/apple-touch-icon.png' %}">
        <!-- CSS Files -->
        <link rel="stylesheet" href="{% static 'vendor/aos/aos.css' %}">
        <link rel="stylesheet"
              href="{% static 'vendor/bootstrap-icons/bootstrap-icons.min.css' %}">
        <link rel="stylesheet"
              href="{% static 'vendor/bootstrap/bootstrap.custom.min.css' %}">
        <link rel="stylesheet" href="{% static 'base/css/style.css' %}">
        {% block style %}
        {% endblock style %}
        <!-- JS Files -->
        <script defer src="{% static 'vendor/aos/aos.js' %}"></script>
        <script defer src="{% static 'vendor/bootstrap/bootstrap.bundle.min.js' %}"></script>
        <script defer src="{% static 'base/js/script.js' %}"></script>
        {% block script %}
        {% endblock script %}
    </head>
    <body class="position-fixed top-0 start-0 end-0 bottom-0">
        {% load static %}
        <!-- ======= Header ======= -->
        <header id="header" class="header fixed-top d-flex align-items-center z-3">
            <div class="d-flex align-items-center justify-content-between">
                <a href="https://www.minet.com/kenya/"
                   class="logo lh-1 d-flex align-items-center me-4">
                    <img src="{% static 'base/img/logo-white_.png' %}"
                         width=""
                         height=""
                         alt=""
                         class="logo-lg d-none d-sm-inline">
                    <img src="{% static 'base/img/logo_sm.png' %}"
                         width=""
                         height=""
                         alt=""
                         class="logo-sm d-inline d-sm-none">
                </a>
                <i class="bi bi-list toggle-sidebar-btn text-white"></i>
            </div>
            <!-- End Logo -->
            <div class="search-bar ms-auto">
                <form class="search-form w-100 d-flex align-items-center"
                      method="post"
                      action="#">
                    <input type="text"
                           name="query"
                           placeholder="Search"
                           title="Enter search keyword">
                    <button type="submit" title="Search" class="p-0">
                        <i class="bi bi-search"></i>
                    </button>
                </form>
            </div>
            <!-- Profile and notifications can be placed here -->
             <!--
                <nav class="header-nav">
                    <ul class="d-flex align-items-center">
                        <li class="nav-item d-block d-lg-none">
                            <a class="nav-link nav-icon search-bar-toggle " href="#">
                                <i class="bi bi-search"></i>
                            </a>
                        </li>
                        <li class="nav-item dropdown pe-3">
                            <a class="nav-link nav-profile d-flex align-items-center pe-0"
                            href="#"
                            data-bs-toggle="dropdown">
                                <img src="{% static 'base/img/profile-img.jpg' %}"
                                    width=""
                                    height=""
                                    alt="Profile"
                                    class="rounded-circle">
                                <span class="d-none d-md-block dropdown-toggle ps-2 text-white">K. Wasike</span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                                <li class="dropdown-header">
                                    <h6>Kevin Wasike</h6>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li>
                                    <a class="dropdown-item d-flex align-items-center" href="#">
                                        <i class="bi bi-person"></i>
                                        <span>My Profile</span>
                                    </a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li>
                                    <a class="dropdown-item d-flex align-items-center" href="#">
                                        <i class="bi bi-gear"></i>
                                        <span>Account Settings</span>
                                    </a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li>
                                    <a class="dropdown-item d-flex align-items-center" href="#">
                                        <i class="bi bi-question-circle"></i>
                                        <span>Need Help?</span>
                                    </a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li>
                                    <a class="dropdown-item d-flex align-items-center" href="#">
                                        <i class="bi bi-box-arrow-right"></i>
                                        <span>Sign Out</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav> 
            -->
        </header>
        <!-- ======= Sidebar ======= -->
        <aside id="sidebar" class="sidebar d-flex flex-column z-2">
            <!-- ======= page-profile =======-->
            {% block page_profile %}
            {% endblock page_profile %}
            <!-- ======= Sidebar-nav ======= -->
            <ul class="sidebar-nav p-0 m-0 list-unstyled" id="sidebar-nav">
                <li class="nav-item">
                    <a class="nav-link collapsed" href="{% url 'home' %}">
                        <i class="bi bi-house"></i>
                        <span>Home</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link collapsed" href="https://retail.minet.co.ke/Cart.php">
                        <i class="bi bi-cart4"></i>
                        <span>Cart</span>
                    </a>
                </li>
                <li class="nav-heading text-uppercase fw-bold">Pages</li>
                <li class="nav-item">
                    <a class="nav-link collapsed" href="{% url 'login' %}">
                        <i class="bi bi-box-arrow-in-right"></i>
                        <span>Login</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link collapsed" href="{% url 'register' %}">
                        <i class="bi bi-card-list"></i>
                        <span>Register</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link collapsed" href="{% url 'privacy_policy' %}">
                        <i class="bi bi-shield-lock"></i>
                        <span>Privacy Policy</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link collapsed" href="{% url 'contact' %}">
                        <i class="bi bi-envelope"></i>
                        <span>Contact</span>
                    </a>
                </li>
            </ul>
            <!-- ======= Social links ======= -->
            <div class="social-links mt-auto pb-4 pt-3 d-flex justify-content-center align-items-center">
                <a href="https://twitter.com/Minet_Kenya/"
                   target="_blank"
                   class="d-inline-flex justify-content-center align-items-center"><i class="bi bi-twitter-x"></i></a>
                <a href="https://www.facebook.com/MinetKenya/"
                   target="_blank"
                   class="d-inline-flex justify-content-center align-items-center"><i class="bi bi-facebook"></i></a>
                <a href="https://www.instagram.com/minet_ke/"
                   target="_blank"
                   class="d-inline-flex justify-content-center align-items-center"><i class="bi bi-instagram"></i></a>
                <a href="https://wa.me/254719044000"
                   target="_blank"
                   class="d-inline-flex justify-content-center align-items-center"><i class="bi bi-whatsapp"></i></a>
                <a href="https://www.linkedin.com/company/minet-kenya-insurance-brokers-limited"
                   target="_blank"
                   class="d-inline-flex justify-content-center align-items-center"><i class="bi bi-linkedin"></i></a>
            </div>
        </aside>
        <section class="h-100 position-relative d-flex flex-column overflow-y-auto">
            {% block main %}
            {% endblock main %}
            <!-- ======= Footer ======= -->
            <footer id="footer" class="footer mt-auto py-2 text-center text-white">
                <div class="copyright">
                    <span>All rights reserved</span> ©️ 2023<span class="current-year"></span> <strong class="px-1">Minet
                    Group</strong>
                </div>
                <div class="credits pt-2 fs-6">
                    <small>Designed by <a href="#" class="pe-none">Minet Kenya IT Department</a></small>
                </div>
            </footer>
        </section>
        <!-- Preloader -->
        {% include "base/includes/preloader.html" %}
    </body>
</html>
