<!-- Btn : Place this icon where you want to be toggling the mobile navigation-->
<!-- <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#navbarNav"
    aria-controls="navbarNav" aria-label="Toggle navigation">
    <span class="bi bi-list text-light"></span>
</button> -->

<!-- Mobile Nav Modal -->
<div class="modal fade" id="navbarNav" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="navbarNavLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Pricing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>