{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr" class="h-100">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta property="og:title" content="Minet Kenya Retail">
        <meta property="og:url" content="https://retail.minet.co.ke/">
        <meta property="og:locale" content="en_US">
        <meta property="og:site_name" content="Minet Kenya Retail">
        <meta property="og:type" content="website">
        <meta name="keywords"
              content="Minet, insurance, brokers, solutions, individual, SME, corporate, teacher, medical, scheme">
        <meta name="description"
              content="Minet is a leading insurance broker in Kenya that offers solutions for individuals, SMEs, corporates, and teachers. Minet provides medical schemes, life insurance, general insurance, and risk management services.">
        <meta name="theme-color" content="#e32636">
        <!-- Favicons -->
        <link href="{% static 'base/img/favicon.ico' %}" rel="icon" />
        <link href="{% static 'base/img/apple-touch-icon.png' %}"
              rel="apple-touch-icon" />
        <!-- CSS -->
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/glightbox@3.2.0/dist/css/glightbox.min.css">
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.min.css">
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <link rel="stylesheet"
              href="{% static 'base/css/bootstrap.custom.min.css' %}">
        <link rel="stylesheet" href="{% static 'base/css/style.css' %}">
        {% block style %}
        {% endblock style %}
        <!-- JS -->
        <script defer
                src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
        <script defer
                src="https://cdn.jsdelivr.net/npm/glightbox@3.2.0/dist/js/glightbox.min.js"></script>
        <script defer src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.min.js"></script>
        <script src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js'
                integrity='sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL'
                crossorigin='anonymous'></script>
        <script defer src="{% static 'base/js/script.js' %}"></script>
        {% block script %}
        {% endblock script %}
        <!-- Title -->
        <title>Minet Kenya - Welcome</title>
    </head>
    <body id="{% if home_active %}index{% elif login_active or signup_active %}accounts{% elif contact_active %}contact{% endif %}" class="d-flex flex-column">
        <!-- ======= Header ======= -->
        <header id="header" class="fixed-top w-100 pt-2 px-4">
            <div class="container-fluid d-flex align-items-center justify-content-between py-2">
                <a href="{% url 'index' %}" class="logo m-0 p-0 d-none d-lg-block">
                        <img src="{% static 'base/img/logo.png' %}"
                             width="250px"
                             height=""
                             alt="logo"
                             class="inner-pages img-fluid">
                        <img src="{% static 'base/img/logo-white.png' %}"
                             width="250px"
                             height=""
                             alt="logo"
                             class="homepage img-fluid">
                </a>
                <a href="{% url 'index' %}" class="logo m-0 p-0 d-block d-lg-none">
                        <img src="{% static 'base/img/logo_sm.png' %}"
                             width="70px"
                             height=""
                             alt="logo"
                             class="inner-pages img-fluid">
                        <img src="{% static 'base/img/logo_sm-white.png' %}"
                             width="70px"
                             height=""
                             alt="logo"
                             class="homepage img-fluid">
                </a>
                <nav id="navbar" class="navbar p-0">
                    <ul class="d-lg-flex m-0 p-0 list-unstyled align-items-center">
                        <li>
                            <a class="nav-link {{ home_active }}" href="{% url 'index' %}"><span class="bi bi-house-door-fill">&nbsp;&nbsp;Home</span></a>
                        </li>
                        <li>
                            <a class="nav-link {{ about_active }}" href="{% url 'about' %}"><span class="bi bi-info-circle-fill">&nbsp;&nbsp;About</span></a>
                        </li>
                        <li>
                            <a class="nav-link {{ contact_active }}" href="{% url 'contact' %}"><span class="bi bi-telephone-fill">&nbsp;&nbsp;Contact</span></a>
                        </li>
                        {% if not user.is_authenticated %}
                            <li>
                                <a class="nav-link {{ login_active }}" href="{% url 'login' %}">
                                    <span class="bi bi-person-check-fill">&nbsp;&nbsp;Login</span>
                                </a>
                            </li>
                            <li>
                                <a class="nav-link {{ signup_active }}" href="{% url 'signup' %}">
                                    <span class="bi bi-person-plus-fill">&nbsp;&nbsp;Sign Up</span>
                                </a>
                            </li>
                        {% else %}
                            <li class="dropdown">
                                <a href="#"><span>
                                    {% if user.image %}
                                        <img src="{{ user.image.url }}"
                                             alt="{{ user.username }}'s Profile Image"
                                             class="img-fluid rounded-circle"
                                             width="35"
                                             height="35">
                                    {% else %}
                                        <img src="{% static 'base/img/default-profile.jpg' %}"
                                             alt="Default Profile Image"
                                             class="img-fluid rounded-circle"
                                             width="30"
                                             height="30">
                                    {% endif %}
                                </span> <i class="bi bi-chevron-down"></i></a>
                                <ul>
                                    <li>
                                        <a class="nav-link {{ profileupdate_active }}" href="">Update Profile</a>
                                    </li>
                                    <li>
                                        <a class="nav-link {{ logout_active }}" href="">Logout</a>
                                    </li>
                                </ul>
                            </li>
                        {% endif %}
                    </ul>
                    <i class="bi bi-list mobile-nav-toggle"></i>
                </nav>
                <a class="btn-getstarted fw-bold text-decoration-none"
                   href="{% url 'retail' %}">Ecommerce</a>
            </div>
        </header>
        <!-- ======= Main ======= -->
        <main class="container-fluid flex-grow">
            {% block main %}
            {% endblock main %}
        </main>
        <footer id="footer"
                class="mt-auto position-relative">
            <div class="ps-md-5 pb-4 pt-2 d-flex justify-content-center justify-content-md-start">
                <div class="social-links d-flex align-items-center">
                    <a href="https://twitter.com/Minet_Kenya/"
                       class="d-inline-flex justify-content-center align-items-center"><i class="bi bi-twitter-x"></i></a>
                    <a href="https://www.facebook.com/MinetKenya/"
                       class="d-inline-flex justify-content-center align-items-center"><i class="bi bi-facebook"></i></a>
                    <a href="https://www.instagram.com/minet_ke/"
                       class="d-inline-flex justify-content-center align-items-center"><i class="bi bi-instagram"></i></a>
                    <a href="https://wa.me/254719044000"
                       class="d-inline-flex justify-content-center align-items-center"><i class="bi bi-whatsapp"></i></a>
                    <a href="https://www.linkedin.com/company/minet-kenya-insurance-brokers-limited"
                       class="d-inline-flex justify-content-center align-items-center"><i class="bi bi-linkedin"></i></a>
                </div>
            </div>
        </footer>
        <!-- Scroll Top Button -->
        {% include 'base/includes/back_to_top.html' %}
        <!-- Preloader -->
        {% include 'base/includes/preloader.html' %}
    </body>
</html>
