#footer {
    background: rgba(var(--bs-primary-rgb), 1.0);
    height: var(--footer-height);
}

#footer .social-links a {
    font-size: var(--font-size-md);
    color: var(--bs-white);
    padding: 8px;
    margin-right: 7px;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    transition: 0.3s;
}

#footer .social-links a:hover {
    color: rgba(var(--bs-white-rgb), 0.7);
    text-decoration: none;
    opacity: 1;
}

/* Inner Pages
------------------------------*/
#footer.inner-pages {
    background: none;
    border-top: #eee thin;
}

#footer.inner-pages .social-links a {
    transition: 0.3s;
    color: var(--bs-primary);
}

#footer.inner-pages .social-links a:hover {
    background: none;
    color: var(--bs-white);
    text-decoration: none;
}