/*--------------------------------------------------------------
# Notification Toast
--------------------------------------------------------------*/
#learn_more .toast {
    width: 400px;
}

#learn_more .toast .toast-body a:hover {
    background: var(--bs-secondary) !important;
    color: var(--bs-dark) !important;
}