{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="Minet Kenya Retail">
    <meta property="og:url" content="https://retail.minet.co.ke/">
    <meta property="og:locale" content="en_US">
    <meta property="og:site_name" content="Minet Kenya Retail">
    <meta property="og:type" content="website">

    <title>Minet Ecommerce - Home</title>
    <meta name="theme-color" content="#e32636">
    <meta name="description" content="Minet's insurance solutions for individuals, SMEs, corporates, and teachers.">
    <meta name="keywords"
        content="Minet, insurance, brokers, solutions, individual, SME, corporate, teacher, medical, scheme">

    <!-- Manifest -->
    <link rel="manifest" href="{% static 'manifest.webmanifest' %}">

    <!-- Icons -->
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <link rel="apple-touch-icon" href="mimg/apple-touch-icon.png">

    <!-- CSS Files -->
    <link rel="stylesheet" href="{% static 'vendor/aos/aos.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/bootstrap-icons/bootstrap-icons.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/bootstrap.custom.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/glightbox/glightbox.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/swiper/swiper-bundle.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- JS Files -->
    <script defer src="{% static 'vendor/aos/aos.js' %}"></script>
    <script defer src="{% static 'vendor/bootstrap/bootstrap.bundle.min.js' %}"></script>
    <script defer src="{% static 'vendor/glightbox/glightbox.min.js' %}"></script>
    <script defer src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
    <script defer src="{% static 'js/script.js' %}"></script>

</head>

<body>
    <!-- ======= Main ======= -->
    <main class="position-fixed top-0 bottom-0 start-0 end-0 d-flex flex-column text-white w-100 bg-primary">
        <!-- ======= Header ======= -->
        <header id="header" class="container-fluid py-2" data-aos="slide-right">
            <div class="row topbar px-3">
                <div class="col d-none d-sm-flex align-items-center">
                    <img src="{% static 'img/endorsement-logo-white.png' %}" width="" height="" alt=""
                        class="img-fluid endorse">
                </div>
                <form class="col search-form d-flex justify-content-end align-items-center" action="">
                    <div class="input-group">
                        <input type="text" class="form-control h-100" placeholder="Search...">
                        <button type="submit"
                            class="input-group-text h-100 d-flex justify-content-center align-items-center">
                            <i class="bi bi-search"></i>
                        </button>
                    </div>
                </form>
            </div>
            <div class="row header-bar mt-2 py-2 px-3">
                <div class="col">
                    <a href="{% url 'home' %}" class="d-block mt-1">
                        <img src="{% static 'img/logo-white_.png' %}" width="" height="" alt=""
                            class="img-fluid header-bar-logo">
                    </a>
                </div>
                <nav class="col navmenu d-flex justify-content-end align-items-center">
                    <ul>
                        <li>
                            <a href="{% url 'home' %}">Home</a>
                        </li>
                        <li>
                            <a href="{% url 'retail' %}">Retail</a>
                        </li>
                        <li>
                            <a href="">Cart</a>
                        </li>
                        <li>
                            <a href="{% url 'privacy_policy' %}">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="">About Us</a>
                        </li>
                        <li>
                            <a href="">Our Website</a>
                        </li>
                        <li>
                            <a href="">Media / Contacts</a>
                        </li>
                    </ul>
                    <i class="mobile-nav-toggle bi bi-list ms-4 d-xl-none"></i>
                </nav>
            </div>
        </header>
        <!-- ======= Content ======= -->
        <section id="home-content" class="flex-grow-1 row ps-5">
            <div class="col col-md-4 d-flex flex-column justify-content-evenly">
                <h1 class="m-0">
                    <span>Welcome to
                        <br />
                        Minet</span> Insurance
                    <br />
                    Brokers Solutions
                </h1>
                <div>
                    <p>
                        Minet is a trusted pan-African advisor that meets the uncertainties of tomorrow by delivering
                        risk and human capital solutions today.
                    </p>
                    <a class="btn btn-dark" href="">Login</a>
                    <a class="btn btn-dark" href="{% url 'retail' %}">Get Started</a>
                </div>
            </div>
            <div class="col col-md-8 d-flex align-items-center">
                <div class="swiper w-100 h-100">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide slide-1"></div>
                        <div class="swiper-slide slide-2"></div>
                        <div class="swiper-slide slide-3"></div>
                        <div class="swiper-slide slide-4"></div>
                    </div>
                    <div class="swiper-pagination position-fixed d-none d-md-block"></div>
                </div>
            </div>
        </section>
        <div class="ps-md-5 pb-4 pt-2 d-flex justify-content-center justify-content-md-start">
            <div class="social-links d-flex align-items-center ">
                <a href="#" class="d-inline-flex justify-content-center align-items-center link-white fs-4"><i
                        class="bi bi-twitter-x"></i></a>
                <a href="#" class="d-inline-flex justify-content-center align-items-center link-white fs-4"><i
                        class="bi bi-facebook"></i></a>
                <a href="#" class="d-inline-flex justify-content-center align-items-center link-white fs-4"><i
                        class="bi bi-instagram"></i></a>
                <a href="#" class="d-inline-flex justify-content-center align-items-center link-white fs-4"><i
                        class="bi bi-whatsapp"></i></a>
                <a href="#" class="d-inline-flex justify-content-center align-items-center link-white fs-4"><i
                        class="bi bi-linkedin"></i></a>
            </div>
        </div>
    </main>
    <!-- Scroll Top Button -->
    <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <!-- Preloader -->
    <div id="preloader"
        class="position-fixed bg-white top-0 bottom-0 start-0 end-0 overflow-hidden d-flex justify-content-center align-items-center z-3">
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>

</body>

</html>